# Конфигурация базы данных
DATABASE_HOST=localhost     # Хост для базы данных
DATABASE_USER=username      # Имя пользователя базы данных
DATABASE_PASSWORD=password  # Пароль базы данных
DATABASE_NAME=mydatabase    # Имя базы данных

# API-ключи
API_KEY_currency="31651e2b678b1cb5a8a11834a90913d1"
API_KEY_stocks="M8K77LVZIXCCOCLN"